body {
  overflow: hidden; /* Hide scrollbars */
}
#selectPlayer{
    border: 0;
    border-radius: .7rem;
    position: absolute;
    font-family: 'Fredoka One';
    font-size: 110%;
    top: 30px;
    left: 65px;
  }

.title5 {
  position: absolute;
  font-family: 'Fredoka One';
  top: 135px;
  left: 155px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 145%;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.title6 {
  position: absolute;
  font-family: 'Fredoka One';
  top: 135px;
  left: 565px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 145%;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.boxLineChart {
  position: absolute;
  top: 65px;
  right: -10px;
  width: 640px;
  height: 370px;
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 25px;
  background-color: #213F4E;
  margin: 20px;
}

.boxBubbleChart {
  position: absolute;
  top: 105px;
  right: 650px;
  width: 840px;
  height: 370px;
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 25px;
  background-color: #213F4E;
  margin: 20px;
}

.boxMined{
  position: absolute;
  top: 15px;
  left: 10px;
  width: 220px;
  height: 70px;
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 25px;
  background-color: #213F4E;
  margin: 20px;
  font-family: 'Fredoka One';
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 125%;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
  text-align: center;
  line-height: 50px;
}

.boxCrafted{
  position: absolute;
  top: 15px;
  left: 240px;
  width: 220px;
  height: 70px;
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 25px;
  background-color: #213F4E;
  margin: 20px;
  font-family: 'Fredoka One';
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 125%;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
  text-align: center;
  line-height: 50px;
}

.boxPicked{
  position: absolute;
  top: 15px;
  left: 470px;
  width: 220px;
  height: 70px;
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 25px;
  background-color: #213F4E;
  margin: 20px;
  font-family: 'Fredoka One';
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 125%;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
  text-align: center;
  line-height: 50px;
}

#content {
  position: absolute;
  font-family: 'Fredoka One';
  top: 72px;
  left: 82px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 125%;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}


#content1 {
  position: absolute;
  font-family: 'Fredoka One';
  top: 72px;
  left: 305px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 125%;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}


#content2 {
  position: absolute;
  font-family: 'Fredoka One';
  top: 72px;
  left: 542px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 125%;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.title2 {
  position: absolute;
  font-family: 'Fredoka One';
  top: 32px;
  left: 65px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 125%;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}


.title4 {
  position: absolute;
  font-family: 'Fredoka One';
  top: 5px;
  left: 55px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 125%;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}


#selectFirstItem{
  border: 0;
  border-radius: .7rem;
  position: absolute;
  font-family: 'Fredoka One';
  font-size: 90%;
  width: 200px;
  height: 30px;
  top: 2px;
  border: 2px solid rgb(0, 0, 0);
  left: 200px;
}

#selectSecondItem{
  border: 0;
  border-radius: .7rem;
  position: absolute;
  font-family: 'Fredoka One';
  font-size: 70%;
  width: 100px;
  top: 140px;
  left: 400px;
}

#selectStat{
  border: 2px solid rgb(0, 0, 0);
  border-radius: .7rem;
  position: absolute;
  font-family: 'Fredoka One';
  font-size: 90%;
  width: 200px;
  height: 30px;
  top: 50px;
  left: 1050px;
}

.title3 {
  position: absolute;
  font-family: 'Fredoka One';
  top: 52px;
  left: 930px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 125%;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

#selectThirdItem{
  border: 0;
  border-radius: .7rem;
  position: absolute;
  font-family: 'Fredoka One';
  font-size: 70%;
  width: 100px;
  top: 160px;
  left: 400px;
}

#selectFourthItem{
  border: 0;
  border-radius: .7rem;
  position: absolute;
  font-family: 'Fredoka One';
  font-size: 70%;
  width: 100px;
  top: 180px;
  left: 400px;
}

#selectFifthItem{
  border: 0;
  border-radius: .7rem;
  position: absolute;
  font-family: 'Fredoka One';
  font-size: 70%;
  width: 100px;
  top: 200px;
  left: 400px;
}

#circle1 {
  position: absolute;
  top: 119px;
  left: 335px;
}

#circle2 {
  position: absolute;
  top: 139px;
  left: 335px;
}

#circle3 {
  position: absolute;
  top: 159px;
  left: 335px;
}

#circle4 {
  position: absolute;
  top: 179px;
  left: 335px;
}

#circle5 {
  position: absolute;
  top: 199px;
  left: 335px;
}


#pieChart{
  position: absolute;
  top: 80px;
  left: -90px;
}

#barChart{
  position: absolute;
  top: 100px;
  left: 900px;
}

#bubbleChart{
  position: absolute;
  top: 40px;
  left: 00px;
}

#bubbleChart2{
  position: absolute;
  top: 40px;
  left: 420px;
}

text {
  font-family: 'Fredoka One', sans-serif;		
  fill: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 10px
}

.XAxis .tick text{
  font-family: 'Fredoka One';		
  fill: rgba(255, 255, 255, 0);
  font-weight: bold;
  font-size: 115%;
}

.YAxis .tick text{
  font-family: 'Fredoka One';		
  fill: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 110%;
}

.YAxis line{
  stroke: rgb(255, 255, 255);
}

.XAxis line{
  stroke: rgba(255, 255, 255, 0);
}

.XAxis path{
  stroke: rgb(255, 255, 255);
  }

.YAxis path{
  stroke: rgb(255, 255, 255);
  stroke-width: 0.5%;
  }


div.tooltip {	
  position: absolute;
  top: 405px;
  left: 360px;
  width: 240px;					
  height: 20px;
  font-family: 'Fredoka One';	
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
  font-weight: bold;							
  font-size: 130%;	
  background: #34657f00;	
  color: #ffffff;
  right: 10px;
  border: 0px solid #ffffff;
  border-radius: 3px;
}